pre,p>code{
background-color: #f8f8f8;
border: 1px solid #ccc;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 4px 10px;
border-radius: 3px;
}
#content {
    width: 960px;
    margin: 40px auto 0 auto;
}
#article_list {
    list-style-type: none;
    -webkit-padding-start: 0px;
}
#article_list .list_item:last-child .sep{
    display: none;
}
.article {
    font-size: 16px;
    padding: 15px;
    background: #F2F2F2;
    margin: 40px auto;
    width: 660px;
    border: 1px white solid;
    -webkit-box-shadow: 0 1px 10px #A8B1B9;
    -moz-box-shadow: 0 1px 10px #A8B1B9;
    box-shadow: 0 1px 10px #58B1B9;
    text-shadow: 0 1px 1px white;
    border-radius: 4px;
}

.article_title {
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}
.article .title a {
    color: #444;
    -moz-transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
}
.article .title a:hover {
    color: #A0410D;
    text-shadow: 0 0 1px rgba(200, 200, 200, 0.8);
}
.article .text {
    margin: 20px 0px;
    line-height: 1.5em;
}
.article p{
    margin-bottom: 24px;
}
.article img{
    max-width: 660px;
}
.tag{
    color: #AAA;
    text-transform: lowercase;
    font-style: italic;
}
/* Nav */

.v_nav {
    position: fixed;
    display: block;
    background: transparent url(../images/body_dark_bg.png);
    outline: none;
    color: #6D6E71;
    font-size: 20px;
    font-weight: bold;
    display: block;
    height: 64px;
    width: 64px;
    text-indent: -9999px;
}
.v_nav .icon {
    background: transparent url(../images/go_bg.png) no-repeat 0 0;
    height: 64px;
    width: 64px;
    display: block;
    content: " ";
    float: left;
}
.v_nav:hover {
    color: #A0410D
}
@-webkit-keyframes ani_go_loading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
#scroll_to_top {
    width: 54px;
    height: 54px;
    bottom: 20px;
    left: 50%;
    margin-left: 400px;
    display: none;
}
#prev {
    top: 50%;
    left: 0;
    padding: 10px 10px 10px 20px;
    margin-top: -100px;
    border-bottom-right-radius: 42px;
    border-top-right-radius: 42px;
}
#prev .icon{
    background-position: 0 0;
}
#prev:hover .icon{
    background-position: 0 -64px;
}
#next {
    top: 50%;
    right: 0;
    padding: 10px 20px 10px 10px;
    margin-top: -100px;
    border-bottom-left-radius: 42px;
    border-top-left-radius: 42px;
}
#next .icon{
    background-position: 0 -128px;
}
#next:hover .icon{
    background-position: 0 -192px;
}
#next:active .icon, #prev:active .icon {
    transition:none;
    background-position: 0 -256px !important; 
    -webkit-animation-name: ani_go_loading; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
#comments
{
    width: 690px;
    margin: 40px auto;
    padding: 15px;
   
}
.article p {
margin: 0 0 21px 0;
line-height: 20pt;
text-indent: 2em;
}
