.side-nav.fixed {
    left: 0;
    position: fixed; 
}
.top-nav{
    box-shadow: none;
}
.bold > a {
  font-weight: bold;
}
h1{
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
}
img{
    width: 100%;
}
.title>a{
    color: rgba(0, 0, 0, 0.870588);
}
.article{
    background: transparent;
}
.article p {
  margin: 0;
  line-height: 20pt;
  text-indent: 2em;
}
.hidden{
    display: none;
}
@media only screen and (min-width : 993px) {
    .container {
        width: 85%;
    }
    header, main, footer {
        padding-left: 240px;
    }
    header{
        background: #8191F1;
    }
    nav{
        width: calc(100% - 240px);
    }
    .top-nav.fixed{
        height: 64px;
        position: fixed;
        z-index: 100;
    }
    .nav-wrapper{
        display: inline-block;
    }
    nav.top-nav a.page-title {
        line-height: 190px;
        font-size: 68px;
    }
    nav.fixed a.page-title {
        line-height: 60px;
        font-size: 68px;
    }
}
@media only screen and (max-width : 992px) {
    .side-nav.fixed {
        left: -105%;
    }
    nav .nav-wrapper {
        text-align: center;
    }
    nav.top-nav a.page-title {
        line-height: 190px;
        font-size: 30px;
    }
    main .container{
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
}

#logo-container{
    height: 200px;
    margin: 10px 0;
}
.logo:hover{
    background: transparent!important;
}
.top-nav{
    background: #8191F1;
    color: white;
    height: 190px;
}
main.scroll{
    padding-top: 150px;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2; 
}
a.button-collapse.top-nav.full {
    line-height: 190px; 
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(129, 145, 241, 0.7); 
}
.entry-date{
    color: #8191F1;
}
.page-footer h2{
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 0;
}
footer.page-footer{
    background-color: #8191F1;
}
footer.page-footer a{
    color: #2C2B2B;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer li {
    display: inline-block;
    margin: 0 20px 10px 0;
    width: 40%;
    height: 20px;
}
footer li:after {
    display: block;
    border-top: 1px #7a89e1 solid;
    border-bottom: 1px #8191F1 solid;
    content: " ";
}
footer .tag {
    margin: 6px 3px;
    padding: 2px 3px;
    height: 20px;
    font-size: 13px;
    text-transform: lowercase;
    font-style: italic;
}
.article .tag{
    margin-top: 10px;
    text-indent: 2em;
    color: #AAA;
    font-style: italic;
}
.archives li{
    margin:10px 0 10px 10px;
}
.card.archives{
    min-height: 400px;
}