
a {
    color: #A0410D;
    text-decoration: none;
}
a:active, a:hover {
    color: #ff4b33;
}
/*Effect*/
*{
transition: color 0.5s , borde 0.5s , background 0.5s ,  box-shadow 0.5s, text-shadow 0.5s, width 0.5s, padding 0.5s;
-moz-transition: color 0.5s , border 0.5s , background 0.5s ,  box-shadow 0.5s, text-shadow 0.5s, width 0.5s, padding 0.5s;
-webkit-transition: color 0.5s , border 0.5s , background 0.5s ,  box-shadow 0.5s, text-shadow 0.5s, width 0.5s, padding 0.5s;
-o-transition: color 0.5s , border 0.5s , background 0.5s ,  box-shadow 0.5s, text-shadow 0.5s, width 0.5s, padding 0.5s;
}
/* Header */
#nav{
    height: 35px;
    background: transparent url(../images/nav_bg.png) repeat-x 0 0;
}
#nav_wrapper {
    height: 50px;
    background: transparent url(../images/body_dark_bg.png) repeat-x;
}
#title {
    color: #ddd;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0;
    background: #f1f1f1;
}
#nav .inner {
    width: 960px;
    margin: 0 auto;
}
#nav .right {
    float: right;
    list-style: none;
    font-size: 11px;
}
#nav .right li {
    display: block;
    float: left;
    color: #ccc;
}
#nav .right a {
    display: block;
    padding: 0 10px;
    color: rgba(204,204,204,0.3);
    text-shadow: 0px 0px 1px #777;
}
#nav .right a:hover {
    color: white;
}
#header_inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    height: 80px;
}
#description{
    line-height: 76px;
    font-size: 30px;
    height: 76px;
}
.sep {
    background: transparent url(../images/background-stripes.png) repeat-x 0 0;
    height: 5px;
}