/* eric meyer css reset */
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    font-family: "Lucida Grande" ,Arial,Helvetica,Verdana,sans-serif, "Hiragino Sans GB" , "微软雅黑" , "宋体";
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
}
::-webkit-scrollbar {
width: 8px;
height: 8px;
}
::-webkit-scrollbar-thumb {
height: 50px;
background-color: #999;
border-radius: 4px;
outline-offset: -2px;
}
::-webkit-scrollbar-track-piece {
background-color: #f4f4f4;
border-radius: 1px;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus
{
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins
{
    text-decoration: none;
}
del
{
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
/* end eric meyer css reset */
a {
    color: #A0410D;
    text-decoration: none;
}
a:active, a:hover {
    color: #ff4b33;
}
/* Header */
#nav{
    height: 35px;
    background: transparent url(../images/nav_bg.png) repeat-x 0 0;
}
#nav_wrapper {
    height: 50px;
    background: transparent url(../images/body_dark_bg.png) repeat-x;
}
#title {
    color: #ddd;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0;
    background: #f1f1f1;
}
#nav .inner {
    width: 960px;
    margin: 0 auto;
}
#nav .right {
    float: right;
    list-style: none;
    font-size: 11px;
}
#nav .right li {
    display: block;
    float: left;
    color: #ccc;
}
#nav .right a {
    display: block;
    color: #ccc;
    padding: 0 10px;
}
#nav .right a:hover {
    color: white;
}
#header_inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    height: 80px;
}
#description{
    line-height: 76px;
    font-size: 30px;
    height: 76px;
}
.sep {
    background: transparent url(../images/background-stripes.png) repeat-x 0 0;
    height: 5px;
}