mx-flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

mx-flex-left() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

mx-button() {
  mx-flex-center();
  width: 8rem;
  height: 2.5rem;
  font-size: 0.875rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  color: var(--main);
  background: var(--button);
}
