:root {
  --light-bg: $black-light-bg;
  --bg: $black-2;
  --divider: $black-3;
  --border: $black-4;
  --disabled: $black-5;
  --tertiary: $black-6;
  --secondary: $black-7;
  --main: $black-8;
  --accent: $accentColor;
  --white: $white;
  --button: $white;
  --header: $white;
  --article: $white;
}
