// colors
$accentColor = #8191F1

$darkTextColor = #000
$textColor = rgba($darkTextColor,.85)


$borderColor = rgba($darkTextColor,.15)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #f0f1f2
$headerBgColor = #fff
$headerColor = $textColor

$footerBgColor = $accentColor
$footerColor = rgba($darkTextColor,.45)
$footerHoverColor = rgba($darkTextColor,.85)

$newsletterBgColor = #f8f8f8

$buttonBgColor = #fff

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)

// layout
$headerHeight = 4rem

$footerHeight = 4rem
// $contentWidth = 740px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
