$black = #000;
$black-1 = rgba(0, 0, 0, 0.02);
$black-2 = rgba(0, 0, 0, 0.04);
$black-3 = rgba(0, 0, 0, 0.09);
$black-4 = rgba(0, 0, 0, 0.15);
$black-5 = rgba(0, 0, 0, 0.25);
$black-6 = rgba(0, 0, 0, 0.45);
$black-7 = rgba(0, 0, 0, 0.65);
$black-8 = rgba(0, 0, 0, 0.85);
// 
$black-light-bg = $black-1;
$black-bg = $black-2;
$black-divider = $black-3;
$black-border = $black-4;
$black-disabled = $black-5;
$black-tertiary = $black-6;
$black-secondary = $black-7;
$black-main = $black-8;
// 
$white = #fff;
$white-1 = rgba(255, 255, 255, 0.04);
$white-2 = rgba(255, 255, 255, 0.09);
$white-3 = rgba(255, 255, 255, 0.15);
$white-4 = rgba(255, 255, 255, 0.25);
$white-5 = rgba(255, 255, 255, 0.45);
$white-6 = rgba(255, 255, 255, 0.65);
$white-7 = rgba(255, 255, 255, 0.85);
$white-8 = rgba(255, 255, 255, 1);
// 
$white-light-bg = $white-1;
$white-bg = $white-2;
$white-divider = $white-3;
$white-border = $white-4;
$white-disabled = $white-5;
$white-tertiary = $white-6;
$white-secondary = $white-7;
$white-main = $white-8;
// theme color
$accentColor = #8191F1;
// layout
$bgColor = #f0f1f2;
$headerHeight = 4rem;
$footerHeight = 4rem;
// page color
$bgColor = #f0f1f2;
$headerBgColor = #fff;
$headerColor = $textColor;
// footer
$footerBgColor = $accentColor;
$footerColor = $black-tertiary;
$footerHoverColor = $black-main;
