{% autoescape None %}<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="refresh" content="5;url={{ url }}">
	<title>{{ title }}</title>
    <link href="{{ static_url("css/materialize.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ static_url("css/base.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37774652-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	{% include "header.html" %}
<main>

<div class="container">
  <div class="row">
    <div class="col s12 m12">
        <div class="card  archives">
            <div class="card-content">
            <h1>Sorry!</h1>
			 Sorry, the page you were looking does not exist.<br/>
						 Redirecting to Homepage...
            </div>

        </div>
    </div>

  </div>
</div>

    </main>
	{% include "footer.html" %}

</body>
</html>