{% autoescape None %}<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ static_url("css/header.css") }}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{ static_url("css/footer.css") }}" type="text/css" media="screen">
	<link rel="stylesheet" href="{{ static_url("css/archives.css") }}" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
			<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37774652-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	{% include "header.html" %}
	<div id="content">
		<h1>Archives</h1>
		<ul>
			{% for article in articles %}
			<li class="archive_list"><span>Posted on <time class="entry-date">{{ article["date"] }}</time>»</span>
				<a href="/posts/{{ article["name"] }}">{{ article["title"] }}</a></li>
			{% end %}
		</ul>
	</div>
	{% include "footer.html" %}

</body>
</html>