{% autoescape None %}
<!DOCTYPE html><html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{{ article["title"] }}</title>
    <link href="{{ static_url("css/prism.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ static_url("css/materialize.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ static_url("css/base.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37774652-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	{% include "header.html" %}


<main>

<div class="container">
  <div class="row">
    <div class="col s12 m12">
        <div class="card  article">
            <div class="card-content">
                <h4 class="center title"><a href="/posts/{{ article["name"] }}">{{ article["title"] }}</a></h4>
                <div class="date">
                    <span>Posted on <a><time class="entry-date">{{ article["date"] }}</time></a></span>
                </div>
                {{ (article["content"]) }}
              <div class="tag">
                      <span>
                          tagged:
                          {% for tag in article["tags"].split(' ') %}
                          <a href="/tags/{{ tag }}">
                              {{ tag }}
                          </a>
                          {% end %}
                      </span>
              </div>
            </div>

        </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12 m12">
		<div id="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'icehoneyblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
			<noscript>
				Please enable JavaScript to view the
				<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
			</noscript>
			<a href="https://disqus.com" class="dsq-brlink">
				comments powered by
				<span class="logo-disqus">Disqus</span>
			</a>
		</div>    	
    </div>
 </div>
</div>

    </main>
	
	{% include "footer.html" %}    
	<script  src="{{ static_url("js/jquery-2.1.1.min.js") }}" ></script>
    <script  src="{{ static_url("js/materialize.min.js") }}" ></script>
    <script  src="{{ static_url("js/prism.js") }}" ></script>
    <script  src="{{ static_url("js/init.js") }}" ></script>
</body>
</html>