<footer>
		<div id="footer_wrapper">
			<div id="footer">
				<div id="footer_inner">
					<div class="archives col">
						<h2>Archives</h2>
						<ul>
							{% for year in years%}
							<li>
								<a href="/archives/{{year}}">{{year}}</a>
							</li>
							{% end %}
						</ul>
					</div>
					<div class="tags col">
						<h2>Tags</h2>
						{% for key,value in tags.items() %}
						<a class="tag" href="/tags/{{ key }}">{{ key+'('+str(value)+')' }}</a>
						{% end %}
					</div>
					<div class="links col">
						<h2>Links</h2>
						<ul>
							<li>
								<a href="http://plumz.net/" target="_blank">plum's blog</a>
							</li>
							<li>
								<a href="https://github.com/acgotaku" target="_blank">My Github repos</a>
							</li>
							<li>
								<a href="http://hellomawing.tk" target="_blank">Hello Mawing!</a>
							</li>
							<li>
								<a href="http://blog.phoenixlzx.com" target="_blank">Phoenix's island</a>
							</li>
							<li>
								<a href="http://blog.michiru.me" target="_blank">Kele.blog()</a>
							</li>
							<li>
								<a href="http://otakuchiyan.github.io/" target="_blank">Otakuchiyan</a>
							</li>
						</ul>
					</div>
					<div class="copyright">
						2013 - 2014
            			© Ice Honey, Some rights reserved.
						<span>•</span>
						Powered by
						<a href="https://github.com/acgotaku/IceHoney-BLOG">IceHoney-BLOG</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
