<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <div class="archives">
                <h2>Archives</h2>
                <ul>
                    {% for year in years%}
                    <li>
                        <a href="/archives/{{year}}">{{year}}</a>
                    </li>
                    {% end %}
                </ul>
            </div>
          </div>
          <div class="col l4 s12">
            <div class="tags">
                <h2>Tags</h2>
                {% for key,value in tags.items() %}
                <a class="tag" href="/tags/{{ key }}">{{ key+'('+str(value)+')' }}</a>
                {% end %}
            </div>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <div class="links">
                <h2>Links</h2>
                <ul>
                    <li>
                        <a href="http://blog.phoenixlzx.com" target="_blank">Phoenix's island</a>
                    </li>
                    <li>
                        <a href="http://blog.michiru.me" target="_blank">Kele.blog()</a>
                    </li>
                    <li>
                        <a href="http://otakuchiyan.github.io/" target="_blank">Otakuchiyan</a>
                    </li>
                    <li>
                        <a href="http://blog.frdom.me/" target="_blank">音乐的符号</a>
                    </li>
                    <li>
                        <a href="https://blog.cee.moe/" target="_blank">Cee&#x27;s Home</a>
                    </li>
                    <li>
                        <a href="http://wattlebird.github.io/" target="_blank">Dedication</a>
                    </li>
                    <li>
                        <a href="https://blog.exiahan.com/" target="_blank">ExiaHan&#39;s Blog</a>
                    </li>
                    <li>
                        <a href="https://qzworld.net/" target="_blank">螺莉莉数据中心</a>
                    </li>
                    <li>
                        <a href="https://kiorisyshen.github.io/" target="_blank">Kio's Spot</a>
                    </li>
                    <li>
                        <a href="https://lxy2222.github.io/" target="_blank">lxy2222</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
	        2013 - 2019
	        © Ice Honey, Some rights reserved.
	        <span>•</span>
	        Powered by
	        <a href="https://github.com/acgotaku/IceHoney-BLOG">IceHoney-BLOG</a>
        </div>
      </div>
    </footer>
