<header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">Hello World</a></div>
          <ul class="right hide-on-med-and-down page">
                  {% if prev %}
                  <li>
                      <a  href="/?p={{ prevnum }}">
                          <i class="mdi-hardware-keyboard-arrow-left left"></i> Previous
                      </a>
                  </li>
                  {% end %}
                  {% if next %}
                  <li>
                      <a href="/?p={{ nextnum }}">
                          Next <i class="mdi-hardware-keyboard-arrow-right right"></i>
                      </a>
                  </li>
                  {% end %}

                </ul>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="https://blog.icehoney.me/" class="brand-logo"><img src="{{ static_url("img/photo.jpg") }}" class="responsive-img"></a></li>
        <li class="bold"><a href="https://plus.google.com/u/0/117337204302188511498" target="_blank" class="waves-effect waves-teal">Google+</a></li>
        <li class="bold"><a href="https://twitter.com/acgotaku311" target="_blank" class="waves-effect waves-teal">Twitter</a></li>
        <li class="bold"><a href="/feed" class="waves-effect waves-teal">RSS</a></li>
        <li class="bold"><a href="https://github.com/acgotaku" target="_blank" class="waves-effect waves-teal">Github</a></li>
        <li class="bold"><a href="/about" class="waves-effect waves-teal">About</a></li>
      </ul>
    </header>